extends ../layout

block pageContent
	h1 #{title}
	div.col-lg-6.col-sm-12
		form(name="scanin",method="post")
			table.table
				tr
					th Barcode:
					td
						input(type="text", placeholder="Item Barcode...", name="barcode", value=(item? item.item_data.barcode : '')) 
				tr
					th Scan In?
					td 
						input(type="checkbox", name="scan", id="scan", checked=(item && item.additional_info ? "checked" : undefined)) 
				tr.scanfields
					th Library:
					td 
						select(name="library")
							each l in libraries.library
								option(value=l.code, selected=l.code==(cookies.prefs ? cookies.prefs.library : '')) #{l.name}
				tr.scanfields
					th Circulation Desk:
					td 
						input(type="text", name="circ_desk", value=(cookies.prefs? cookies.prefs.circ_desk : ''))
			button#btnSubmit(type="submit", class="btn btn-default") Scan In
			p &nbsp;
		if error
			div.alert.alert-danger
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				|#{error}
		if item
			div.panel.panel-default
				div.panel-body
					span(id="thumbnail")
					div.lead 
						p #{item.bib_data.title}
						p By #{item.bib_data.author}
					p Barcode: <strong>#{item.item_data.barcode}</strong>
					if item.additional_info 
						br
						div.alert.alert-success
							<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
							|Item scanned
							p <strong>Scan info:</strong> #{item.additional_info}

	script.
		$(document).ready(function(e) {
			$(".scanfields").css('display', $("#scan").prop("checked") ? '' : 'none');

		    $("#scan").click(function() {
		        $(".scanfields").css('display', this.checked ? '' : 'none');
		    });
		});

		function googleBooks(data) {
			for (isbn in data) {
				var b = data[isbn];
				if (b && b.thumbnail_url)
					$('#thumbnail').prepend('<img style="float:left; width:75px; height:auto; margin-right:20px" src="'+ b.thumbnail_url + '" />')
			}
		}

	if item && item.bib_data.isbn
		- var isbn = item.bib_data.isbn.replace(/\D/g,'')
		script(src="https://books.google.com/books?bibkeys=ISBN:#{isbn}&jscmd=viewapi&callback=googleBooks")
